doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .wraper
     block content

    script(src='/bower_components/jquery/dist/jquery.min.js')
